<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abarrotes - 404</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/04d2b76897.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>404</h1>
    <p>Page not found</p>
    <a href="/admin" class="btn btn-light">Home</a>
  </body>
</html>

<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(
      to right top,
      #dc4200,
      #db3c06,
      #da360c,
      #d92f11,
      #d82715,
      #d91a28,
      #d80b37,
      #d60045,
      #cc0061,
      #b40081,
      #8700a1,
      #2222bb
    );
  }

  h1 {
    font-size: 7rem;
    color: white;
    font-weight: bold;
  }

  p {
    font-size: 2rem;
    color: whitesmoke;
  }
</style>
