html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  /* background-image: url(./images/fondo2.jpg);
    background-size: max(400px, 60%); */
  width: 100%;
  min-height: 100vh;
}

img {
  width: 100%;
}

.form {
  background-color: whitesmoke;
  width: min(500px, 90%);
}

.cards {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  background-color: #0c599d;
}

/* .card:hover{
  scale: 1.02;
} */

.card-title{
  font-weight: bold;
  color: white;
}

.card-text{
  color: white;
}

.card-body .btn{
  background-color: #ff581b;
  border: none;
}

.card__img {
  margin: 1rem auto;
  width: 100px;
}

